<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SBHoot - A Trivia Game</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
  <script src="dist/index.js"></script>
  <script src="dist/Oauth.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/dist/resize.js"></script>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="dist/css/style.css">
</head>

<body>
  <!--Add buttons to initiate auth sequence and sign out-->
  <div id="authorize" style="display: none;">
    <img src="/dist/img/SBhootlogo.svg"/>
    <h1 id="mainHeader">Log in to continue:</h1>
    <button id="authorize-button">Authorize</button>
  </div>
  <div id="dialog" title="">
    <p id="dialogText"></p>
  </div>
  
if clientType=='instructor'
  include instructor.pug
else
  include student.pug

</html>
