<div id="border">
  <div id="signout">
    <button id="signout-button">Sign Out</button>
    <p id="greeting"></p>
    <img src="/dist/img/SBhootlogo.svg"/>
    <div id="gameCreation">
      <h3>Create a game!</h3>
      <h5>Room ID: <input type="text" id="roomId" maxlength="40" value="yourClass"><br>
        <button id="makeGame" type="button" name="button">Create Game!</button>
      </h5>
      <h3>Rejoin a game!</h3>
      <h5 id="rejoin"><ul id="previousGames"/><h5>
    </div>
  </div>

  <div id="gameManagement">
    <h3><span id="room-message">Students, please join room </span><span class="gameName"/></h3>
    <div id="buttons">
      <div id="non-essential-buttons">
        <select name="options" id="options">
          <option value="">Game Options</option>
          <option value="downloadReport" id="downloadReport">Download Game Report</option>
          <option value="openGame" id="openGame">Open</option>
          <option value="closeGame" id="closeGame">Close</option>
          <option value="leaveGame" id="leaveGame">Leave</option>
          <option value="deleteGame" id="deleteGame">Delete</option>
        </select>
      </div>
      <button id="startGame" type="button" name="button">Start</button>
      <button id="stopGame" type="button" name="button">Stop</button>
      <div id="questionFile">
        <div id="file_drop" dropzone="copy" title="drop files for upload">Drop Question File to Start</div>
        <span>Or</span><br>
        <span>Upload from a Kahoot URL<br>
          <input type="text" id="kahootURL" value=""><button id="uploadKahoot" type="button" name="button">Upload</button>
        </span><br>
        <span>Or</span><br>
        <button id="useDefaultQuestions" type="button" name="button">Use default question file</button>
      </div>
    </div>
    <ul id="playerList"></ul>
    <table id="playerResults"/>
  </div>
  <span id="GameError"></span>
</div>

<div id="dialog" title="">
  <p id="dialogText"></p>
</div>
</body>
<script src="dist/siofu.js"></script>
<script src="dist/instructor.js"></script>
