<div id="join">
  <button id="signout-button">Sign Out</button>
  <div class="BGhighlight" id="greeting"></div>
  <img src="/dist/img/SBhootlogo.svg"/>
  <div id="joinOptions" class="BGhighlight">
    <h3>Join a Game! (Enter your instructor's game below)</h3>
    <h5>Nickname: <input id="nickname" type="text" maxlength="40" name="nickname" value="bill">
    <br/>Room ID: <input id="roomId" type="text" maxlength="40" name="" value="yourClass"><br/>
      <button id="joinGame" type="button" name="button">Join Game!</button><span id="joinGameError"></span>
    </h5>
    <div id="rejoin">
  <h3>Rejoin a Game!</h3>
</div>
  </div>
</div>

<div id="waitingRoom">
  <img src="/dist/img/SBhootlogo.svg"/>
  <h5>Joined room <class="gameName" span></span></h5>
  <ul id="playerList"></ul>
  <button id="leaveRoom" type="button" name="button">Leave Room</button>
</div>

<div id="stage" class="screen">
  <div id="header">
    <div>Score: <span id="pointCounter"/></div>
    <div id="rankcontainer">Rank: <span id="rank"/></div>
    <div id="question"></div>
    <div id="timer"></div>
  </div>
  <div id="answer_0" class="answer"></div>
  <div id="answer_1" class="answer"></div>
  <div id="answer_2" class="answer"></div>
  <div id="answer_3" class="answer"></div>
  <div id="submit"></div>
</div>

<div id="dialog" title="">
  <p id="dialogText"></p>
</div>
</body>
<script src="dist/student.js"></script>
